<!-- just below header, with breadcrumbs, filters, other content -->
<div class="sub-header">
  <div class="breadcrumbs">
    <span
      *ngFor="let crumb of breadcrumbs; first as isFirst"
      class="item"
    >
    <span *ngIf="!isFirst" class="sep">&#62;</span>
      <span *ngIf="crumb.key" style="font-size: medium; font-family: 'Raleway-Bold', sans-serif;" [translate]="crumb.key" [translateParams]="{default: crumb.defaultText}"></span>
     
    </span>
  </div>

  <app-session-filter *ngIf="hasSessionFilter"></app-session-filter>

  <ng-content></ng-content>
</div>