<!-- <div class="main-content">
<app-ngx-table-wrapper
  [rows]="tableRows"
  [columnsConfig]="tableColumns"
  [colMinWidth]="colMinWidth"
  [colHeaderTranslateKeyPrefix]="colHeaderTranslateKeyPrefix"
  [totalRows]="totalRows"
  [hasActionCol]="hasActionCol"
  [actionColFrozen]="true"
  (editRow)="editUser($event)"
 
  [pageIndex]="1"
  [pageSize]="2"
  (pageSortEvent)="onPageSort($event)"

  [selectionType]="selection"
  [selectedRow]="tableRows"
  (selectRow)="onSelectSession($event)"
></app-ngx-table-wrapper>
</div> -->




