<app-sub-header [breadcrumbs]="breadcrumbs">

</app-sub-header>
<div class="maindiv">
  <div class="main-content" id="createprofiletable">

    <div class="labeltextbox" style="display:flex; align-items:center;margin-bottom:10px;">
      <h4 class="label" style="padding-right:10px; font-family: 'Raleway-Bold', sans-serif;" translate="formFieldLabels.Profile"
        [translateParams]="{default: 'Profile Name'}">
        
      </h4>

      <!-- <div  class="ng-autocomplete" id="autocompletecss">onChangeSearch($event) inputChanged -->
      <ng-autocomplete [dropdown]="true" style=" width: 437px;
    height: 44px;
    flex: none;
    border: 1px solid #e7e7e7;
    border-radius: 4px;
    display: block;
    font-family: 'Raleway-SemiBold', sans-serif;" formControlName="branchAutoComplete" [formControl]="userControl" [data]="filteredOptions"
        [searchKeyword]="keyword" (click)='getReports()'
        placeholder="{{ 'placeholders.searchprofile' | translate: { default: 'Search Profile'} }}"
        (selected)='selectEvent($event)' [itemTemplate]="itemTemplate" selectable="true"
        (inputCleared)='onFocused($event)' [notFoundTemplate]="notFoundTemplate">
      </ng-autocomplete>


      <ng-template #itemTemplate let-item>
        <a [innerHTML]="item.profileName"></a>

      </ng-template>

      <ng-template #notFoundTemplate let-notFound>
        <div [innerHTML]="notFound"></div>
      </ng-template>
      <!-- </div> -->
    </div>



    <div class="btns-group">
      <button class="btn btn-primary" id="buttoncss1" [disabled]="disabledsavebutton" (click)="addUser()">
        <span class="with-icon">
          <!-- <span class="icon"  inlineSVG="assets/icons/Save.svg"></span> -->
          <img class="icon" [src]="'assets/icons/Save.svg'" />
          <span style="font-family: 'Raleway-SemiBold', sans-serif;">{{ 'buttons.save' | translate: { default: 'Save' } }}</span>
        </span>
      </button>

      <button class="btn btn-cancel" id="buttoncss" (click)="CancelProfile()">
        <span class="with-icon">
          <!-- <span class="icon"   inlineSVG="assets/icons/close.svg"></span> -->
          <img class="icon" [src]="'assets/icons/close.svg'" />
          <span style="font-family: 'Raleway-SemiBold', sans-serif;">{{ 'buttons.cancel' | translate: { default: 'Cancel' } }}</span>
        </span>
      </button>
    </div>
    <div class="btns-group" id="plusminusbutton">
      <button class="btn btn-primary" [disabled]="disabledplusbutton" (click)="showAddEditModal(article)">
        <span class="with-icon" style="padding-left:12px">
          <!-- <span class="icon" inlineSVG="assets/icons/Plus.svg"></span> -->
          <img class="icon" [src]="'assets/icons/Plus.svg'" />
        </span>
      </button>


      <button class="btn btn-primary mt-2" style="display: flex;" [disabled]="disabledminusbutton"
        (click)="ShowMinusPopUp()">
        <span class="with-icon" style="padding-left:12px; padding-top: 6px;">
          <!-- <span class="icon" inlineSVG="assets/icons/minus.svg"></span> -->
          <img class="icon" [src]="'assets/icons/minus.svg'" />
        </span>
      </button>
    </div>
    <div>
      <!-- <pre >{{tableRows | json }}</pre> -->
      <app-ngx-table-wrapper [scrollbarH]="false" [scrollbarV]="false" 
      [rows]="tableRows | paginate : pagingConfig"
        [columnsConfig]="tableColumns" 
        [colMinWidth]="colMinWidth"
        [colHeaderTranslateKeyPrefix]="colHeaderTranslateKeyPrefix" 
        [totalRows]="totalRows" 
        [actionColFrozen]="false"        
        (pageSortEvent)="onPageSort($event)"
    [showPagination]="false"
    [selectionType]="selection"
    [selectedRow]="selectedSession"
        >
      </app-ngx-table-wrapper>
      <div class="d-flex justify-content-center mt-2">
        <pagination-controls previousLabel="Prev" nextLabel="Next" (pageChange)="onTableDataChange($event)">
        </pagination-controls>
      </div>
    </div>
  </div>
</div>



<ng-template #chkboxColCellTmpl let-row="row" let-value="value" let-rowIndex="rowIndex" let-isSelected="isSelected">
  <app-checkbox [ngModel]="Checked(row.id)" (ngModelChange)="onCheckboxChange($event)"
    (change)="disassociateCenter(rowIndex)"></app-checkbox>
</ng-template>