

.criteria-config-line {
    margin:15px 0 15px 0;
    padding: 5px;
    background : #E7E7E7;
}

::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
    background: #fafafa !important;
}
