

<mat-card-content class="input-form-content">
    <mat-tab-group>
   
  <mat-tab label="Report Services Management">


    <div class="container">
        <div class="row">
            <div class="Headerreport">
        <span Style="font-size: 15px;"> Report Service Management</span>
        <span Style="margin-left: 44%; font-size: 15px;"> Report Of Current Service</span>
          
        <span Style="margin-left: 12%;  font-size: 15px;"> Avaialble Reports</span>
        </div>
        <div class="hr hr-16 hr-dotted"></div>
        <div class="col-xs-6 col-sm-6">
            <div class="alert alert-info">

                <Header > <strong>!</strong>Please use this section to add reports to the service:</Header>
                <span  class="text text-primary table-bordered" style="font-size:Large;">PRODUCTION</span>

            </div>
                
            </div>
         
           
            <div class="col-xs-6 col-sm-6">
                <div class="container-fluid">
                   
                    
                    <dual-list [sort]="keepSorted" [source]="source" [key]="key" [display]="display" [filter]="filter"
                        [(destination)]="confirmed" height="465px" [format]="format" [disabled]="disabled"></dual-list>
                </div>
            </div>
            
        </div>
    </div>

  
  </mat-tab>
  
  </mat-tab-group>
  </mat-card-content> 