.container{
    background-color: azure;
}


.alert-info {
    background-color: #d9edf7;
    border-color: #bce8f1;
    color: #31708f;
}


.alert {
    font-size: 14px;
}
.hr {
    display: block;
    height: 0;
    overflow: hidden;
    font-size: 0;
    border-width: 1px 0 0;
    border-top: 1px solid #E3E3E3;
    margin: 12px 0;
    border-top-color: rgba(0,0,0,.11);
}